 /* Début Header */

 @font-face {
    font-family: "Raleway";
    
    src: url("./Raleway/static/Raleway-Regular.ttf") format("truetype");
    
    src: url("./Raleway/static/Raleway-Bold.ttf") format("truetype");
    
    src: url("./Raleway/static/Raleway-Light.ttf") format("truetype");
    
    src: url("./Raleway/static/Raleway-Medium.ttf");
  }

* {
    font-family: "Raleway", sans-serif;
}

h2
{
    font-family: "Raleway", sans-serif;
    
}

h3
{
    font-family: "Raleway", sans-serif;
    
}

h4
{
    font-family: 'Raleway', sans-serif;
    
}

li
{
    font-family:'Raleway', sans-serif;
    
}


div, nav, section, header, article, aside 
{
    display:inline-block; 
    vertical-align:top;
}

.main 
{
    margin:0%;
    padding:0%;
}

.main_wrapper {
    display: block;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#header
{ 
    background-color: white;
    
    width: 100%;
}

#logo
{
    display:inline-block;
    background-color: white;
    width: 25%;
    vertical-align: top    
}

.logopic
{
    width: 29%;
}

#menunav
{
 
 background-color:white;
 float: right;
 width: 40%;
 
 
}

.listemenunav
{
    display: flex;
    list-style-type: none;  
    width: 100%;
    padding-left: 35px;
    padding:0%;
    margin: 0%;
       
}

.listemenunav li {
    padding: 25px 5px;
}

.listemenunav li:hover {
    border-top: 2px solid  #0065FC;
}

.navactive {
    border-top: 2px solid  #0065FC;
}

.elementH
{
   width: 33.33%;
   text-align: center;
   padding-left: 27px;
   
}
.elementA
{
    width: 33.33%;
    text-align: center;

}
.elementS
{
    width: 33.34%;
    text-align: center;
    padding-right: 52px;
}

.txtdeco1, .txtdeco3
{
    text-decoration: none;
    color:  #0065FC;
    font-size: 12px;
}
.txtdeco2
{
    text-decoration: none;
    color: grey;
    font-size: 12px;
}


/* Fin Header */

/*Début btn Recherche */

#perebtnrecherche
{
    background-color: white;
    width: 100%;
}

.TitretrouvervotreH
{
    width: 100%;
    font-size: 17px;
    margin-bottom: -1%;
}

.SubtitreCentreville
{
    width: 100%;
    color: grey;
    font-size: 12px;   
}

#Recherchebtn
{
    display: flex;
    margin-bottom: 1%;
    width: 100%;    
}

#Recherchebtn > div {
    height: 41px;
}

.iconlocation  
{
    background-color: lightgray;
    color: black;
    width: 37px;
    height: 36px;
    border: 1px solid lightgrey;  
    border-right: 1px lightgrey;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
}

.fa-map-marker-alt
{
    margin: auto;
    width: 16px;
    height: 18px;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.blocinput
{
    width: 159px;
       
}

.champinput
{
    height: 41px;
    padding: 0%;
    border: 0.5px solid lightgrey;
    width: 100%;
}

.blocbutton
{
    
    width: 119px;
    border-radius: 0px 10px 10px 0px;
}

.boton1
{
    display: inline;
    background-color: #0065FC;
    height: 43px;
    
    width: 100%;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:white;

    font-family: 'Raleway-Bold'; 
    font-size: 16px;   
}

.boton2
{
    display: none;
}

/*Fin btn Recherche */

/* Début Filtres */

.textdeco4, .textdeco5, .textdeco6, .textdeco7 
{
    text-decoration: none;
}

.strongfiltres
{
    margin-top: 0.6%;
    font-size: 14px;
    margin-right: 34px;
}

.filtres
{
    background-color: white;
    width: 100%;
}

.warningheading
{
    display: none;
}

#listemenufiltres
{
    list-style-type: none;
    width: 100%;
    padding:0%;
    border: 3px hotpink ;
    display: flex;

    margin-top: 1%;
}

#listemenufiltres > li {
    /*min-width: 15%;*/
    white-space: nowrap;
 }

.iconbloc 
{
    border: 2px white solid;
    border-radius: 20px 20px 20px 20px;
    color:#0065FC;
    background-color:  #DEEBFF;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 2;
    margin-top: -2px;
    margin-left: -3px;
    
    display: inline-block;
}

.itemiconbill  
{
    border-top-left-radius: 27px;
    border-bottom-left-radius: 23px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 26px;
    background-color: white;
    
    border: 2px lightgray solid;
    height: 32px;   
    width: 138px;

    margin-right: 21px;
}

.itemiconbill:hover
{
    box-shadow: 0px 3px 18px lightgrey;
}

.fa-money-bill-wave
{
   align-self: center;
   padding-top: 7px;
   padding-left: 6px;
   background-color: transparent;
}

.txticon 
{
    padding-top: 6px;
    padding-left: 3px;
    font-size: 14px;

    display: inline-block;
}

.strongeco
{
  color: black;
  
}

.child
{

    border-top-left-radius: 27px;
    border-bottom-left-radius: 23px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 26px;
    background-color: white;
    
    border: 2px lightgray solid;
    height: 32px;   
    width: 108px;
    margin-right: 28px;
}

.child:hover
{
    box-shadow: 0px 3px 18px lightgrey;
}

.fa-child
{
    text-align: center;
    padding-top: 7px;
    background-color: transparent;  
}

.familialstrong
{
    color:black;
}

.heart
{
    border-top-left-radius: 27px;
    border-bottom-left-radius: 23px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 26px;
    background-color: white;
    
    border: 2px lightgray solid;
    height: 32px;   
    width: 137px;
    margin-right: 34px;

}

.heart:hover
{
    box-shadow: 0px 3px 18px lightgrey;
}

.fa-heart
{
    text-align: center;
    padding-top: 7px;
    padding-left: 3px;
    height: 0px;
    background-color: transparent;  
}

.strongromantique
{
    width: 85%;
    padding-left: 6%;
    color: black; 
}

.dog 
{
    border-top-left-radius: 27px;
    border-bottom-left-radius: 23px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 26px;
    background-color: white;
    padding: 0%;
    border: 2px lightgray solid;
    height: 32px;   
    width: 177px;
}

.dog:hover
{
    box-shadow: 0px 3px 18px lightgrey;
}

.fa-dog

{    
    text-align: center;
    background-color: #DEEBFF;  
    color: #0065FC;

} 

.animauxstrong
{
    color: black;
}

#iconinfo
{
    width: 100%;
    background-color: white;
    border: 3px black ;

    margin-top: 3%;
    margin-bottom: 3%;
}

.colorinfo
{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    height: 24px;
    width: 2%;
    border: 1px lightgrey solid;

}

.fa-info
{
    color: #0065FC;
    padding-top: 3px;
    padding-left: 10px;
}
    
.infoicontxt
{
    margin-top: 5px;
    width: 92%;
    color: grey;
    font-size: 14px;
}
    


/*Fin Filtres*/

#HMetLP
{
    background-color: white;
    height: 537px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}





/*Début bloc Hébergements Marseille */
 
#hebergementMarseille
{
    background-color: #F2F2F2;
    width: 66%;
    height: 579px;
    display: inline-block;
    justify-content: space-around;
    border-radius: 20px 20px 20px 20px;
    padding-right: 2%;
}

.TitreHM
{
    margin-left: 4%;
    font-size: 17px;
    padding-top: 14px;
}

.pics
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 22px;
}

.imgettxt
{
    margin-top: 5px; 
    margin-bottom: 5px;
    width: 29%;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    border: 5px solid white;
    box-shadow: 0px 3px 50px lightgrey;
    height: 174px;

    
}

.imgettxt > article {
    width: 100%;

}

.pasdeco
{
    text-decoration: none;
}

.photo
{
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 1px;
    margin-top:1px;
}

#pica, #picb, #picc, #picd, #pice, #picf
{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    height: 108px;
}
.txtpic
{
    width: 94%;
    height: 28%;
    padding-left: 3%;
    
    color: grey;
    font-size: 14px;
    margin-left: 2px;

}
.negrita
{
    color:black;
}

.iconfooterpicb, .iconfooterpicc, .iconfooterpicf
{
    color: #0065FC;
}

.blue
{
    color: #0065FC;   
}

.grey
{
    color: grey;
}



.afficherplus
{
    margin-left: 4%;
    margin-top: 4%;
    color: black;
}

.fa-info-circle
{
    
    color: red;
}


/*Fin Bloc Hébergement Marseille */


/*Début Bloc les plus populaires */

#lespluspopu
{
    display: inline-block;  /* Utilizar inline-block para poner une block al lado del otro. Solucion para el menu nav y el footer */
    background-color: #F2F2F2;
    width: 30%;  
    border-radius: 20px 20px 20px 20px;

}

.iconchart
{
    float: right;
    border: 3px black ;
    margin-right: 3%;
    margin-top: 6%;    
}

.fa-chart-line{
    padding-right: 12px;
}


.Titrepopu
{
    margin-left: 23px;
    padding-top: 14px;
    width: 81%;
    color: black;
    font-size: 17px;

    
}

.imgettxtpopu
{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
    margin-bottom: 19px;
    box-shadow: 0px 3px 50px lightgrey;
}

.borderpicpopu
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 81%;
    height: 124px;
    object-fit: cover;
}

.iconfooterpicpopu
{
    display:flex;
    justify-content: flex-start;
    color: #0065FC;
    margin-top: 15px;
}

.iconfooterpicpopu1
{
    margin-top: 15px;
}

.picpopu
{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    height: 123px;
    padding: 5px;
    width: 100%;
}

.imgpicpopu {
    width:55%;
    height: 109px;
    margin-left: inherit;
    margin-top: auto;
}

.txtpicpopu
{
    width: 100%;
    height: 48px;
    color:grey;
    margin-top: -111px;
    margin-left: 108px;
    font-size: 13px;
}

.negritapopu
{
    
    color: black;
}




/*Fin Bloc les plus populaires */




/*Début Bloc Activités Marseille */

#ActivitesM
{
    background-color:white;
    width: 100%;
}

.groupeActivites
{
    width: 100%;
    display:flex;

}

.imgtxt1
{
    
    border-radius: 20px 20px 20px 20px;

    display:flex;
    flex-direction: column;
    width: 25%;
    height: 425px;

    margin-right: 2%;
    margin-bottom: 3%;
    
    box-shadow: 0px 3px 18px lightgrey;
    
    
    position: relative;
        
}



.photo1
{
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 442px;
    margin-top: auto;
    margin-left: auto;
    
}

.img1 
{
    width: 100%;
    height: 371px;
    object-fit: cover;

    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
}

.txtphoto
{
    
    width: 95%;
    display: flex;
    padding-left: 5%;  
    margin-top: -11px;  
    font-size: 14px;
}

.AM
{
    font-size: 17px;
}

.vieuxp
{
    text-decoration: none;
    color: black;
}

    

.photo2
{
    
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 18px lightgrey;
    width: 100%;
    margin-left: 2px;
    margin-top: auto;
    height: 228px; 
}

.fortdeP
{
    text-decoration: none;
    color: black;
}


.img2 
{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    width: 100%;
    height: 154px;
    object-fit: cover;

}


.photo3
{
    width:100%;
    border-radius: 20px 20px 20px 20px;

    box-shadow: 0px 3px 18px lightgrey;
    margin-left: 3px;
    margin-bottom: 19px;
    padding-bottom: 19px;
    height: 160px;
    
    

    
}

.img3 
{
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


    height: 126px;
    object-fit: cover;
    width: 100%;
}

.ilesduF
{
    text-decoration: none;
    color:black;
}



.parcN
{
    text-decoration: none;
    color: black;
}



.img4 
{
    width: 98%;
    height: 90%;
}

.txtphoto4 
{
    border: 3px yellow solid;
    width: 97%;
    display: flex;
}

.txtphoto3
{
    display:flex;
}

.imgtxt2
{
    background-color: white;
    
    width: 25%;
    margin-left: 0px;
    border-radius: 20px 20px 20px 20px;
    margin-right: 41px;

    height: 443px;
}


.photo5
{
    
    border-radius: 20px 20px 20px 20px;

    box-shadow: 0px 3px 18px lightgrey;
    margin-top: auto;
    width: 100%;
    height: 187px;
}



.img5
{
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    width: 100%;
    height: 115px;
    object-fit: fill;
}

.NDG
{
    text-decoration: none;
    color:black;
}

.photo6
{
    
    border-radius: 20px 20px 20px 20px;

    box-shadow: 0px 3px 18px lightgrey;

    width: 100%;
    height: 179px;
    object-fit: cover;
    margin-bottom: 27px;
    padding-bottom: 42px;
    
}

.img6
{
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    width: 100%;
    object-fit: fill;
    height: 168px;
}

.txtphoto6
{
    display:flex;
    text-align: center;
    border: 3px yellow ;
    
}

.longchamp
{
    text-decoration: none;
    color: black;
}

.imgtxtA, .photoA, .imga, .imgb, .imgc, .imgd, .imge, .imgf 
{
  display: none;
}

/*Fin Bloc Activités Marseille */


/*Début Bloc Footer */

#piedsdepage
{      
    display: flex;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    width: 100%
}


.apropos
{
    margin-left:-39px;
}
.noshebergements
{
    margin-left: -127px;
}

.pieds
{
    font-size: 15px;
}

#menufooter1, #menunoshebergements, #menuassistance
{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    font-size: 13px;
}
.MGT 
{
    margin-top: 5px;
}



/* Fin Bloc Footer */ 

/* Début Media Queries */



@media all and (max-width:1400px)
{
    .main_wrapper
    {
        width: 100%;
    }
}



@media all and (max-width:1024px) 
{
    

    .main_wrapper
    {
        
        width: 100%;
        margin-bottom: auto;
    }

     .logoM 
    {
        max-width: 1024px;
    }

    #logo
    {
       margin-bottom: 63px;
        margin-left: 19px;
        width: 92px;
    }

    .logopic
    {
        height: 51px;
        width: 88px;
    }

    #header
    {
        display: flex;
        justify-content: space-between;
    }

   

    .listemenunav
    {  
        
       display: flex;
       flex-wrap: wrap-reverse;
       justify-content: flex-start;
       
    }

    .elementH.navactive
    {
        border-bottom: 2px solid  #0065FC;
        border-top: none;
       margin-left: -192px;
       padding-bottom: 1px;
       width: 151px;
       

        
    }

    .txtdeco1, .txtdeco2, .txtdeco3
    {
        font-size: 0.85em;
    }

    .txtdeco3
    {
        justify-content: center;
        
    }

    .elementA
    {
        border-bottom: 2px solid #F2F2F2;
        
        width: 149px;
        text-align: center;
        
    }

    .elementS
    {
        margin-left: 19px;
        width: 84px;
    }

    #perebtnrecherche 
    {
        width: auto;
        padding-left: 9px;
        
    }
     


    .TitretrouvervotreH
    {
        
        font-size: 0.95em;
        
        
    }

    .SubtitreCentreville 
    {
        
        margin-bottom: 30px;
        font-size: 0.85em;
        
        
    }

   
    
    
    .iconlocation
    {
        text-align: right;
        width: 29px;
        height: 45px;
        
    }

    .fa-map-marker-alt
    {
        padding-right: 13px;
    }

    .blocinput
    {
        width: 93px;
        border: none;
    }

    .champinput
    {
        width: 218px;
        border: 1px solid lightgrey;
        
    }

    .blocbutton
    {
        margin-top: -1px;
        border: 1px solid white;
        min-width: auto;
        border-radius: 0px 10px 10px 0px;
    }

    .boton1
    {
        display:none;
    }

    .boton2
    {
         display: inline ;
         background-color: #0065FC;
         margin-left: 145px;
         width: 40px;
         border-radius: 9px 9px 9px 9px;
         height: 44px;
         margin-left: 100px;
    }

    

    .fa-search
    {
        color: white;
        margin-top: 11px;
        height: 27px;
    }



    .filtres
    {
        width: auto;
        margin-bottom: 81px;
        padding-left: 9px;
        
    }

   #listemenufiltres
   {
       display:flex;
       flex-wrap: wrap;
       flex-direction: column;
       
       margin-top: 28px;
       
   }

   .sizefiltres
   {
       font-size: 1.2em;
   }

   .itemiconbill, .child, .heart, .strongfiltres
   {
       margin-bottom: 11px;
   }
   
   .itemiconbill
   {
       min-width: auto;
       
   }
   .iconbloc
   {
       min-width: auto;
       
   }
   .child
   {
       min-width: auto;
       
   }
   .heart
   {
       min-width: auto;
       
   }
   .dog
   {
       min-width: auto;
       
   }

   #iconinfo
   {
       justify-content: center;
       width: auto;
       display: flex;
       padding-top: 12px;
       padding-left: 3px;
   }
   .colorinfo
   {
       width: 26px;
   }

   .fa-info
   {
       margin-right: 9px;
   }
   .infoicontxt
   {
    width: auto;
    font-size: 0.80em;
   
   }

   #HMetLP
   {
    display: flex;
    flex-direction: column-reverse;
   }

   .iconchart
   {
    margin-top: 26px;
    margin-right: -2px;
   }
   #lespluspopu, #hebergementMarseille
   {
       width: auto;
       border-radius: 0px 0px 0px 0px;
   }
   .Titrepopu
   {
       font-size: 0.95em;
    
       
   }
  
   .picpopu
   {
       
       height: 129px;
   }

   .imgpicpopu
   {
       min-width: auto;
       
       height: 92px;
       object-fit: cover;
   }

   .imgettxtpopu
   {
       border-radius: 20px 20px 20px 20px;
       margin-top: 13px;
       
       width: 285px;
       height: 139px;
   }

   .borderpicpopu
   {
    width: 118px;
    height: 130px;
    object-fit: cover;

   }
   .txtpicpopu
   {
       font-size: 0.75em;
       min-width: auto;
       
       margin-left: 136px;
       
       color: black;
   }

   .iconfooterpicpopu
   {
       margin-top: 28px;
   }

   .negritapopu
   {
     color: black;
   }
   .footerpicpopu1
   {
       margin-top: 37px;
   }

   #hebergementMarseille
   {
       background-color: white;
       margin-bottom: -519px;
   }

   .afficherplus
   {
       font-size: 0.95em;
       padding-left: 15px;
   }
   .TitreHM
   {
       font-size: 0.95em;
       padding-left: 5px;
    
       
   }
   .pics
   {
       display: flex;
       flex-direction: column;
       width: auto;
       align-content: center;
       
   }

   .imgettxt
   {
    width: 282px;
    height: 151px;
    margin-left: -17px;
    
   }

   #pica, #picb, #picc, #picd, #pice, #picf 
   {
       height: 98px;
   }
   .txtpic
   {
    font-size: 0.7em;
   }

   #ActivitesM
   {
    margin-top: 1076px;
    margin-bottom: 83px;
   }

   .AM 
   {
       font-size: 0.95em;
       padding-left: 30px;
   }

   .groupeActivites
   {
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       align-content: center;
       
       
   }

   


   .imgtxtA
   {
    display: inline;   
    width: 295px;
    
    height: 140px;
    margin-bottom: 15px;

    box-shadow: 0px 3px 18px lightgrey;
    position: relative;
    border-radius: 20px 20px 20px 20px;
   }

   .photoA
   {
    display: inline;   
    height: 114px;
    
    border-radius: 20px 20px 20px 20px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 216px;
    margin-right: 76px;
   }

   .imga, .imgb, .imgc, .imgd, .imge, .imgf
   {
    height: 99px;
    object-fit: cover;
    display: inline;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: -40px;
    width: 295px;
   }

   .imgtxt1, .photo1, .img1, .img2, .img3, .img5, .img6, .txtphoto, .imgtxt2
   {
       display: none;
   }

   .txtphotoA
   {
    
    font-size: 0.87em;  
    margin-left: 12px;
    margin-top: -7px;
   }



    #piedsdepage
    {
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
        
        
        width: 100%;
        font-size: 0.85em;
        color: grey;
    } 

    .pieds
    {
        color: black;
    }
    
    .noshebergements, .Assistance, .apropos
    {
        margin-top: 25px;
        margin-left: 29px;
    }
    #menuassistance
    {
        padding-bottom: 31px;
    }

    
}


@media all and (min-width:600px) and (max-width:850px)
{
    .main_wrapper
    {
        width: 100%;
    }
    
    #perebtnrecherche
    {
        padding-left: 141px;
        margin-top: 28px;
    }

    .filtres
    {
        padding-left: 149px;
    }
   
    .iconchart
    {
        margin-right: 21px;
    }
    .txtpicpopu
    {
        margin-left: 271px;
        font-size: 0.85em;
    }
    .iconfooterpicpopu
    {
        margin-top: 20px;
    }
    .borderpicpopu
    {
        width: 241px;
    }
    .imgettxtpopu
    {
        width: 483px;
    }
    
    .afficherplus
    {
        padding-left: 47px;
    }
    .txtpic
    {
        font-size: 0.85em;
        text-align: center;
    }
    .imgettxt
    {
        width: 483px;
        height: 255px;
    }
    #pica, #picb, #picc, #picd, #pice, #picf 
    {
        height: 195px;
    }

    .TitreHM
    {
        padding-left: 30px;
    }

    #ActivitesM
    {
        margin-top: 1712px;
    }
    .AM
    {
        margin-top: 50px;
        padding-left: 72px;
    }
    .imga, .imgb, .imgc, .imgd, .imge, .imgf
    {
        width: 483px;
        height: 170px;
    }
    .imgtxtA
    {
        height:209px;
        width: 483px;
    }
    .txtphotoA
    {
        text-align: center;
    }
    #piedsdepage
    {
        display: flex;
        flex-direction: row;
    }
}

/* Fin Media queries */